main {
  width: 100%;
  height: 100vh;
  padding: 44px 0px;
  margin: 0;
  font-family: Kanit;
  font-weight: bold;
  background: linear-gradient(155.21deg, #222629 19.79%, rgba(36, 79, 88, 0.9) 59.9%, rgba(38, 162, 157, 0.81) 83.51%);
  overflow-x: none;
  overflow-y: none;
}
